<%- include("partials/header.ejs")%>
<h1>  Hello its show </h1>

<p> <%=campground.name%></p>
<img src="<%= campground.image%>">
<p><%=campground.description%></p>

<%- include("partials/footer.ejs")%>